@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Indie+Flower&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.profile_img img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.section_summary {
    background: url(/images/preview.jpg) no-repeat center;
    background-size: cover;
}

.summary {
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px 0;
    /* border-radius: 2px; */
    /* min-height: 15vh; */
}

.summary_right,
.summary_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.summary_profile_info {
    width: 100%;
}

.profile_img {
    display: flex;
    left: 40px;
    top: 60px;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 1px;
    overflow: hidden;
    filter: grayscale(80%);
}

.profile_img:hover {
    top: 55px;
}

.profile_name {
    margin-bottom: 10px;
}

.profile_name h2 {
    font-size: 40px;
    color: #fff;
    letter-spacing: 4px;
    /* font-family: 'Pacifico', cursive; */
}

.Contact_info {
    text-align: center
}

.social_links {
    font-size: 15px;
    color: rgba(16, 62, 211, 0.8);
}

.social_links a:not(:last-child) {
    margin-right: 10px;
}

.social_links a:hover {
    color: #050505;
}

h2 {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 15px;
    text-align: center;
    /* font-family: 'Pacifico', cursive; */
}

.name {
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}


/* unvisited link */

a:link {
    color: red;
    font-weight: 700;
}


/* visited link */

a:visited {
    color: rgb(245, 210, 11);
}


/* mouse over link */

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: rgb(3, 3, 3);
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #000201;
    background-color: #d1d9e0;
}

.about {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 15px;
}

p {
    padding: 10px 0;
    /* border: 3px solid rgb(10, 10, 10);
    border-radius: 5px; */
    text-align: center;
    margin: 5px;
}

.skills {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    /* padding: 15px; */
}

.code {
    display: block;
    justify-content: center;
    margin: auto;
    /* width: 50%; */
    /* padding: 5px; */
}

.edu {
    /* display: block;
    text-align: center; */
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 15px;
}

pre {
    display: block;
    text-align: center;
    /* outline-style: double; */
    display: inline-block;
}

.items {
    text-align: center;
    display: block;
    justify-content: center;
    margin: auto;
}

div.items {
    margin: 0;
    /* display: table-cell; */
    vertical-align: middle;
}

.author {
    /* display: block; */
    /* justify-content: center; */
    /* margin: auto; */
    width: 65%;
    padding: 15px;
}

.exp {
    display: block;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 15px;
}

.social_links {
    margin: 50px 0 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: ends;
}

.author {
    text-decoration: none;
    color: inherit;
    text-align: center;
}


/* unvisited link */

.author:link {
    color: red;
}


/* visited link */

.author:visited {
    color: green;
}


/* mouse over link */

.author:hover {
    color: rgb(247, 51, 2);
}


/* selected link */

.author:active {
    color: blue;
}